// Circle

svg {
    height: 20px;
    width: 20px;
    transform: rotate(-90deg);

    circle {
        fill: none;
        stroke: rgb(110, 110, 110);
        stroke-width: $stroke;
    }
}

.progress {
    fill: none;
    stroke: $default;
    stroke-width: $stroke-progress;
    animation: .2s stroke-width ease-in-out;
}

.warning {
    stroke: $warning;
}

.danger {
    stroke: $danger;
    color: $danger;
    stroke-width: $stroke-wide;
}

.over {
    animation: bounce .4s ease-out;
}